:root{
    --aq: #2ad0cf;
    --dark: #35323d;
    --light: #9a9fae;
    --pg2col: #f0f1f6;
    --shorten: #3b2f53;
}
body{
    font-family: 'Poppins', sans-serif;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px 80px;
    font-weight: 800;
    font-size: 1em;
}
nav > a,nav > button{
    margin: 20px;
    font-size: 1.2em;
}
#login{
    margin-left: auto;
}
.home{
    font-size: 2.3em;
    color: var(--dark);
}
a{
    text-decoration: none;
    color: var(--light);
    align-self: center;
}
nav > a:hover{
    color: var(--dark);
}
#signup{
    background-color:var(--aq);
    border: 0px;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    font-weight: 800;
    border-radius: 28px;
}
.more{
    margin-top: 120px;
    margin-left: 100px;
    width: fit-content;
    margin-bottom: 100px;
}
.h11{
    font-size: 4.9em;
    color: var(--dark);
}
.p1{
    width: fit-content;
    font-size: 1em;
    /* margin-left: 100px; */
    margin-top: -45px;
    color: var(--light);
}
#gstarted{
    background-color:var(--aq);
    border: 0px;
    color: white;
    padding: 12px 20px;
    font-size: 1em;
    font-weight: 800;
    border-radius: 28px;
    width: fit-content;
    /* margin-bottom: 110px; */
}
.page2{
    background-color: var(--pg2col);
    position: relative;
}
.page2 .shorten{
    width: 78vw;
    margin: 0vw 8vw;
    padding: 2%;
    background-color: var(--shorten);
    background-image: url(/URL-Shortener-myProject/images/bg-shorten-desktop.svg);
    background-size: cover;
    border-radius: 10px;
    top: -10%;
    position: absolute;
}
.page2 .shorten > input{
    width: 75%;
    padding: 1%;
    border-radius: 5px;
    border: 0px;
}
.page2 .shorten > button{
    margin-left: 2%;
    width: 22%;
    color: white;
    background-color: aqua;
    border: 0px;
    border-radius: 5px;
    padding: 15px 40px;
    font-size: 1.2em;
    font-weight: 800;
}
.adv{
    padding-top: 120px;
    text-align: center;
    font-size: 1.2em;
    color: var(--dark);
}
.p2{
    color: var(--light);
}
.boost{
    background-image: url(/URL-Shortener-myProject/images/bg-boost-desktop.svg);
    background-size: cover;
    background-color: var(--shorten);
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    text-align: center;
    align-items: center;
}
footer{
    background-color: var(--dark);
    color: white;
    padding: 0% 10%;
}
.footerele{
    display: flex;
    justify-content: space-around;
    padding-top: 3%;
}
.col2, .col3, .col4{
    display: flex;
    flex-direction: column;
    
}

